<div class = "stone-name">
  <h2><strong><%= @stone.name %></strong></h2>
</div>

<div class = "container">
  <div class = "stone-infos">

    <div class = "stone-info">
      <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/3076/3076532.svg?token=exp=1614774498~hmac=d3970e65dae8d43906a17b8b03fd9cca" alt="">
      <h3><%= @stone.category %></h3>
    </div>

    <div class = "stone-info">
      <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/31/31370.svg?token=exp=1614704882~hmac=7935d8cb0d2ec279cccacd93c109dd86" alt="">
      <h4><%= @stone.age %></h4>
    </div>

    <div class = "stone-info">
      <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/847/847485.svg?token=exp=1614704977~hmac=fbc0f4f8afc75024d15a18993dc9d55b" alt="">
      <h4><%= @stone.size %> cm</h4>
    </div>

    <div class = "stone-info">
      <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/2929/2929016.svg?token=exp=1614705008~hmac=ee988b1158658e948cffa481aef58a6b" alt="">
      <h4><%= @stone.weight %> kg</h4>
    </div>

    <div class = "stone-info">
      <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/2619/2619921.svg?token=exp=1614705107~hmac=23ab58cc99905a2b1ed497c6e0019b69" alt="">
      <h4><%= @stone.gender %></h4>
    </div>

    <div class = "stone-info">
      <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/618/618859.svg?token=exp=1614705149~hmac=eeeaed15c10319d7c374cab4d16c1be2" alt="">
      <h4><%= @stone.town %></h4>
    </div>

    <div class = "stone-info">
      <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/631/631180.svg?token=exp=1614707333~hmac=54702e184ff63c1a6daf400f591361f5" alt="">
      <h4><%= @stone.price %> €</h4>

    <div class = "share-and-save">

      <% if user_signed_in? %>
        <div>
          <div id = "delete">
            <button type="button" class="btn btn-outline-secondary"><%= link_to "Delete",stone_path(@stone), method: :delete,
             data: { confirm: "Are you sure you want to throw away #{@stone.name} ?" } %></button>
          </div>

          <div id = "update">
            <button type="button" class="btn btn-outline-secondary"><%= link_to "Update", edit_stone_path(@stone) %></button>
          </div>
        </div>
      <% end %>

        Share:
        <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/3121/3121961.svg?token=exp=1614691197~hmac=2d14a132f1b7e6195d7a40e4735a96cb" alt="">
        Save:
        <img class = "icon" src="https://www.flaticon.com/svg/vstatic/svg/1844/1844415.svg?token=exp=1614691114~hmac=e75cafb569108da8a9a97f16487fbc61" alt="">
    </div>

  </div>
</div>

<div class = "container">
  <div class = "carousel mx-auto">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <% @stone.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
          </div>
        <% end %>

      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</div>

<div class = "container">

  <div class = "stone-description">
    <p><%= @stone.name %>'s description: <%= @stone.description %></p>
  </div>

  <div class = "user-infos">
    <p>The Owner of <%= @stone.name %> is <%= @stone.user.username %></p>
    <p><%= @stone.user.username %>'s presentation : <%= @stone.user.description %></p>
  </div>

</div>

<div class = "map">
</div>
